body {
    background-color: #ADD8E6; /* Color azul claro */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1E90FF; /* Azul más oscuro para el encabezado */
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    margin: 5px 0;
}

header ul {
    list-style: none;
    padding: 0;
}

header li {
    margin-bottom: 5px;
}

nav {
    background-color: #4682B4; /* Otro tono de azul para el menú */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

img {
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    background-color: #008CBA; /* Color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005f7a;
}