body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4682b4;
    margin-bottom: 30px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.imagen-galeria {
    width: 100%;
    height: auto;
    border: 5px solid #b0c4de; /* Gris azulado */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.imagen-galeria:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(70, 130, 180, 0.5);
}
