body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.galeria img {
    width: 100%;
    height: auto;
    border: 5px solid navy; /* Marco azul marino */
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el borde en el tamaño del elemento */
    cursor: pointer; /* Indica que la imagen es interactiva */
    transition: transform 0.3s ease-in-out; /* Animación suave al hacer hover */
}

.galeria img:hover {
    transform: scale(1.05); /* Pequeño zoom al pasar el ratón */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al hacer hover */
}